.track {
  display: flex;
  padding: 1rem;
}

.track:hover {
  cursor: pointer;
  background: rgba(29, 32, 40, 0.61);
}

.track-index {
  width: 5%;
}

.track-name {
  width: 75%;
}

.track-time {
  width: 20%;
  text-align: end;
}

.active {
  color: green;
}
